body{background-color:navy;}
h1{font-size: 80PX;font-alignment:center;font-color:white}
h2{font-size; 50PX;font-display:block;font-color: white}
img{image-orientation:portrait }
h2{font-size: 60PX}
li{font-size: 55PX}
p{font-size: 45PX;font-style:times new roman}
